extends index

block content
    p Kerry Doran is a writer, editor, and curator. She is the director of bitforms gallery, New York. She has previously worked for the New Museum, Postmasters Gallery, and as a Research Associate at the Courtauld Institute of Art, London. Her writing has appeared in international exhibition catalogues, Foam Magazine, Rhizome, and many independent publications. Her exhibitions have been reviewed by Artforum, Artnet, Artnews, the Huffington Post, Hyperallergic, Modern Painters, the New York Times, the Village Voice, among others.