extends index

block content
	p Kerry Doran is a writer, editor, and curator based in New York.  She is the director of Postmaster Gallery.

	p Doran recently contributed research and writing to David Diao's retrospective at the Ullens Center for Contemporary Art, Beijing. She is currently collaborating with the Stolbun Collection on an upcoming Ultra Violet Production House exhibition. 

	p Doran is a frequent contributor to exhibition catalogues, artist books, and independent publications. Her curatorial projects have been featured in <i>Artforum</i>, <i>artnet</i>, <i>ARTnews</i>, <i>The Huffington Post</i>, <i>Hyperallergic</i>, <i>Modern Painters</i>, the <i>New York Times</i>, <i>Rhizome</i>, and the <i>Village Voice</i>, among others. 

	p Doran previously worked as the director of bitforms gallery and prior to that was a member of the inaugural staff at the New Museum's NEW INC. In 2013, she was an Associate Scholar at the Courtauld Institute of Art. 

	p Doran holds an MA from the Courtauld, where she graduated with distinction in 2013, and degrees from the University of Colorado Boulder, <i>summa cum laude</i>. 
