extends index

block content
	p Writer and curator Kerry Doran is the director of Postmasters Gallery in New York, and a regular contributor to exhibition catalogs, artist books, and independent publications. Previously, Doran was the director of bitforms gallery, a member of the inaugural staff at the New Museum's NEW INC, and an associate scholar at the Courtauld Institute of Art, London. Her curatorial projects have been featured in <i>Artforum</i>, <i>ARTnews</i>, <i>Modern Painters</i>, <i>The New York Times</i>, <i>Rhizome</i>, and <i>The Village Voice</i>, among others. 

	p She holds an MA from the Courtauld, where she graduated with distinction in 2013, and three degrees from the University of Colorado Boulder, <i>summa cum laude</i>. 




