extends index

block content
	div
		a(href='') Casey Reas: There’s No Distance
	div bitforms gallery, New York
	br
	div Press:
	div
		a(href='') Artspace
	div
		a(href='') The Creators Project
	div
		a(href='') Village Voice
	br
	div
		a(href='') Yael Kanarek: Kisses Kisses
	div bitforms gallery, New York
	br
	div Press:
	div
		a(href='') Artspace
	div
		a(href='') Huffington Post
	div
		a(href='') New York Times
	br
	div
		a(href='') Sara Ludy: Subsurface Hell
	div bitforms gallery, New York
	br
	div Press: 
	div
		a(href='') ArtFCity
	div
		a(href='') Artforum
	div
		a(href='') Hyperallergic
	div
		a(href='') Modern Painters (will send u PDF)
	br
	div
		a(href='') Emilio Bianchic: Nailture
	div Postmasters Gallery, New York
	br
	div Press:
	div
		a(href='') artnet
	div
		a(href='') ArtNews
	div
		a(href='') ArtFCity
	br
	div
		a(href='') /Performing the Text
	div With Emilio Bianchic, Kalliopi Mathios, and Martine Syms
	div NewHive
	br
	div Press:
	div
		a(href='') ArtFCity
	div
		a(href='') ArtFCity
	div
		a(href='') Rhizome
	br
	div
		a(href='') remixthebook.com
	br
	div Press:
	div
		a(href='') Art Monthly
	div
		a(href='') Furtherfield
	div
		a(href='') Leonardo
	div
		a(href='') RealTime Arts