extends index

block content
	dl
		dt 
			a(href='http://www.bitforms.com/exhibitions/reas-2016') 
				dt Casey Reas: <i>There’s No Distance</i>
			dt bitforms gallery, New York
		br
		dd
			a(href='http://www.artspace.com/magazine/interviews_features/artist_to_watch/artists-to-watch-in-september-54150') 
				i Artspace
		dd
			a(href='https://creators.vice.com/en_us/article/casey-reas-new-media-art-bitforms-15-years') 
				i The Creators Project
		dd
			a(href='http://www.villagevoice.com/arts/casey-reas-s-disconcerting-software-paintings-9215303') 
				i Village Voice
		br
		dt
			a(href='http://www.bitforms.com/exhibitions/kanarek-2016') 
				dt Yael Kanarek: <i>Kisses Kisses</i>
		dt bitforms gallery, New York
		br
		dd
			a(href='http://www.artspace.com/magazine/news_events/artist_to_watch/artists-to-watch-this-april-53658') 
				i Artspace
		dd
			a(href='http://www.huffingtonpost.com/illya-szilak/art-review-yael-kanareks_b_9778852.html') 
				i The Huffington Post
		dd
			a(href='https://www.nytimes.com/2016/04/10/arts/design/yael-kanarek-has-her-fifth-show-at-bitforms.html') 
				i New York Times
		br
		dt
			a(href='http://www.bitforms.com/exhibitions/ludy-2016') 
				dt Sara Ludy: <i>Subsurface Hell</i>
		dt bitforms gallery, New York
		br
		dd
			a(href='http://artfcity.com/2016/01/04/this-weeks-must-see-events-gallery-armageddon/') 
				i ArtFCity
		dd
			a(href='https://www.artforum.com/index.php?pn=picks&id=57561&view=print') 
				i Artforum
		dd
			a(href='https://creators.vice.com/en_us/article/sara-ludy-subsurface-hell') 
				i The Creators Project
		dd
			a(href='http://hyperallergic.com/272392/turning-the-digital-into-the-material-with-feng-shui/') 
				i Hyperallergic
		dd
			a(href='') 
			i Modern Painters
		dd
			a(href='https://newhive.com/b/this-week-in-net-art-11/') 
				i NewHive
		br
		dt
			a(href='http://www.postmastersart.com/archive/nailture15/nailture15.html') 
				dt Emilio Bianchic: <i>Nailture</i>
		dt Postmasters Gallery, New York
		br
		dd
			a(href='http://magazine.art21.org/2015/09/22/how-to-be-happy-an-art-guide/#.WMh-6RLyuRs') 
				i art21 magazine
		dd
			a(href='https://news.artnet.com/market/ben-davis-selects-20-memorable-new-york-gallery-shows-year-364235') 
				i artnet
		dd
			a(href='http://www.artnews.com/2015/07/20/9-art-events-to-attend-in-new-york-city-this-week-27/') 
				i ArtNews
		dd
			a(href='http://artfcity.com/2015/07/21/this-weeks-must-see-art-events-melon-bra-and-digital-nails/')
				i ArtFCity
		dd
			a(href='http://artfcity.com/2015/07/21/gif-of-the-day-emilio-bianchics-lgbp/')
				i ArtFCity </i>(GIF of the Day)</i>
		br
		dt
			a(href='https://newhive.com/kerry/-performing-the-text') 
				dt <i>/Performing the Text</i>
		dt NewHive
		br
		dd
			a(href='http://rhizome.org/editorial/2015/may/20/dont-fight-it-performing-text/') 
				i Rhizome
		br
		dt
			a(href='http://www.remixthebook.com/') 
				i remixthebook
			br
			span remixthebook.com | Social Media Curator
		br
		dd
			a(href='http://www.artmonthly.co.uk/magazine/site/issue/february-2012') 
				i Art Monthly
		dd
			a(href='http://www.furtherfield.org/features/reviews/remixthebook-everything-all-once') 
				i Furtherfield
		dd
			a(href='http://www.leonardo.info/reviews/oct2011/amerika_baetens.php') 
				i Leonardo
		dd
			a(href='') 
				i RealTime Arts
