extends index

block content
	dl
		dt 
			a(href='/curating/altfacts') 
				dt <i>alt-facts</i>
			dt Postmasters Gallery, New York
		br
		dt 
			a(href='/curating/reas') 
				dt Casey Reas: <i>There’s No Distance</i>
			dt bitforms gallery, New York
		br
		dt
			a(href='/curating/kanarek') 
				dt Yael Kanarek: <i>Kisses Kisses</i>
			dt bitforms gallery, New York
		br
		dt
			a(href='/curating/ludy') 
				dt Sara Ludy: <i>Subsurface Hell</i>
			dt bitforms gallery, New York
		br
		dt
			a(href='/curating/bianchic') 
				dt Emilio Bianchic: <i>Nailture</i>
			dt Postmasters Gallery, New York
		br
		dt
			a(href='/curating/performingthetext') 
				dt <i>/Performing the Text</i>
			dt NewHive
		br
		dt
			a(href='/curating/remixthebook') 
				dt <i>remixthebook</i>
			dt remixthebook.com
		br
		dd
