html
    head
        //- meta(http-equiv="refresh" content="5")
        meta(name='viewport', content='width=device-width')
        link(rel='stylesheet', type='text/css', href='/styles/site.css')
        title
            | Kerry Doran
    body
        .container
            .nav
                a(href="/")
                    img.signature(src="/images/sig.png")
                ul
                    li
                        a(href='/writing') writing
                    li
                        a(href='/curating') curating
                    li
                        a(href='/speaking') speaking
                    li
                        a(href='/photos') photos
                    li
                        a(href='/about') about
                    li
                        a(href='/contact') contact
            .content
                block content

