extends index

block content
	div 
		a(href="#{link}")= pretitle
			em= title
	div #{gallery}
	br
	each img in images
		img(class="curated-image" src='/images/' + img)
		br
		br
	div PRESS
	each item in press
		div
			em
				a(href=item.url)= item.text
