extends index

block content
	div 
		a(href='https://www.facebook.com/events/752728418212772/') Internet Age Media Pop-Up 
	div Brooklyn, NY, February 2017
	br
	div “The Current Conversation,” with Ben Fino-Radin, Christiane Paul, Tina Rivers Ryan, et al.
	div The Current Museum of Art, New York, NY, November 2016
	br
	div 
		a( href='https://docs.google.com/document/d/1vACOyy9RgKqb3HEhJnMv_o7RpstJLSJ8YuDPmqjePNU/edit') CBIC XIV: Cyborg Futures
	div IRL Institute, September 2016
	br
	div “Love Letters from a ‘World of Awe,’” with Yael Kanarek
	div Molasses Books, Brooklyn, NY, June 2016
	br
	div “Art in the DATAStream,” with Casey Reas and John F. Simon Jr.
	div Moss Arts Center, Virginia Polytechnic Institute and State University, Blacksburg, VA, February 2016
	br
	div “Digitally minded-practices,” International Marketplace for Digital Art (IMDA)
	div Elektra Festival in collaboration with Québec Digital Art in NYC, Brooklyn, NY, October 2015