extends index

block content
	div 
		a(href='https://www.facebook.com/events/752728418212772/') Internet Age Media Pop-Up 
	div Frog Design, Brooklyn
	br
	div 
		a(href='http://www.current.mu/test_patterns.html') The Current Conversation, with Ben Fino-Radin, Christiane Paul, Tina Rivers Ryan, et al.
	div The Current Museum of Art, New York
	br
	div 
		a( href='https://docs.google.com/document/d/1vACOyy9RgKqb3HEhJnMv_o7RpstJLSJ8YuDPmqjePNU/edit') CBIC XIV: Cyborg Futures
	div IRL Institute, New York
	br
	div 
	a(href='https://www.facebook.com/events/510230832500676/') Love Letters from a <i>World of Awe</i>, with Yael Kanarek
	div Molasses Books, Brooklyn
	br
	div Art in the DATAStream, with Casey Reas and John F. Simon Jr.
	div Moss Arts Center, Virginia Polytechnic Institute and State University, Blacksburg
	br
	div 
	a(href='http://elektramontreal.ca/newyork-2015.html') Digitally minded-practices
	div International Marketplace for Digital Art (IMDA)
	div Elektra Festival in collaboration with Québec Digital Art in NYC, Brooklyn

	
