extends index

block content
	| David Diao (forthcoming)
	| UCCA
	| “There’s no business like Art business” (forthcoming)
	| The Stolbun Collection
	| “Rachel Rossin: Timescrubbing” (forthcoming)
	| Kiasma
	| Alexandra Hunts: "Substance of Space and Time”
	| Foam
	| [still searching for lost treasure]
	| Yael Kanarek: Kisses Kisses (author and editor)
	| The Nature of Capitalism: Mark Dorf's "Emergence" and the Capitalocene
	| Foam
	| Artist Profile: Mark Dorf
	| Rhizome
	| what is a text? v1
	| NewHive
	| Cyborg Origins: Lynn Hershman Leeson at Bridget Donahue
	| Rhizome
	| Speaking in Code
	| Rhizome
	| Nail Art: From lipstick traces to digital polish
	| Rhizome
	| Digital Handwork, co-authored with Lizzie Homersham
	| Rhizome
	| The Post-Internet Condition: A political reevaluation of new media art through the post media perspective (link to PDF)
	| Do not cite without written permission.