extends index

block content
	
	p 
		a(href='http://ucca.org.cn/en/exhibition/david-diao-2/' target='_blank')
			i David Diao </i>(forthcoming)</i>
		br
		| Ullens Center for Contemporary Art, Beijing


	p
		a(href='http://stolbun.org/carmona-uv-chicago.html' target='_blank') There’s no business like Art business (forthcoming)
		br
		| The Stolbun Collection, Chicago
	
	p
		a(href='http://www.kiasma.fi/en/exhibitions-events/ars-17/ars17-artists/' target='_blank') Rachel Rossin: <i>Timescrubbing</i>
		br
		i ARS17</i>, Kiasma, Helsinki
	

	p 
		a(href='http://shop.foam.org/en/foam-magazine-foam-magazine-45-talent.html' target='_blank') Alexandra Hunts: <i>Substance of Space and Time</i>
		br
		i Foam Magazine #45
	
	p 
		a(href='https://www.printedmatter.org/catalog/45038/' target='_blank') [still searching for lost treasure]
		br
		| <i>Kisses Kisses</i> (author and editor)

	p 
		a(href='http://shop.foam.org/en/foam-magazine-foam-magazine-44-on-earth.html' target='_blank') The Nature of Capitalism: Mark Dorf's <i>Emergence</i> and the Capitalocene
		br
		i Foam Magazine #44

	p 
		a(href='http://classic.rhizome.org/editorial/2015/may/27/artist-profile-mark-dorf/' target='_blank') Artist Profile: Mark Dorf
		br
		i Rhizome

	p 
		a(href='https://newhive.com/kerry/-performing-the-text' target='_blank') what is a text? v1
		br
		i NewHive

	p 
		a(href='http://classic.rhizome.org/editorial/2015/mar/19/lynn-hershman-leeson-origins-species/' target='_blank') Cyborg Origins: Lynn Hershman Leeson at Bridget Donahue
		br
		i Rhizome

	p
		a(href='http://classic.rhizome.org/editorial/2015/mar/05/speaking-code/' target='_blank') Speaking in Code
		br
		i Rhizome

	p 
		a(href='http://classic.rhizome.org/editorial/2014/oct/08/lipstick-traces-digital-polish/' target='_blank') Nail Art: From lipstick traces to digital polish
		br
		i Rhizome

	p 	
		a(href='http://www.postmastersart.com/archive/clisset14/clisset14.html' target='_blank') Shamus Clisset: <i> Space God / Magic Guy </i>
		br
		| Postmasters Gallery

	p 
		a(href='http://rhizome.org/editorial/2014/jul/1/digital-handwork/' target='_blank') Digital Handwork
		br
		| Co-authored with Lizzie Homersham 
		br
		i Rhizome

	p 
		a(href='http://www.postmastersart.com/archive/lee14/lee14.html' target='_blank') Austin Lee: <i> OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK OK </i>
		br
		| Postmasters Gallery

	p 
		a(href='/2013_doran.pdf' target='_blank') The Post-Internet Condition: A political reevaluation of new media art through the post media perspective
		br
		span.small
			i Do not cite without written permission.

	p 	
		a(href='http://scholar.colorado.edu/honr_theses/279/' target='_blank') Performative identity in networked spaces
		br
		span.small
			i Do not cite without written permission.
