extends index

block content
	
	p 
		a(href='http://ucca.org.cn/en/exhibition/david-diao-2/') 
			i David Diao </i>(forthcoming)</i>
		br
		| Ullens Center for Contemporary Art, Beijing


	p
		a(href='http://stolbun.org/carmona-uv-chicago.html') There’s no business like Art business (forthcoming)
		br
		| The Stolbun Collection, Chicago
	
	p
		a(href='http://www.kiasma.fi/en/exhibitions-events/ars-17/ars17-artists/') Rachel Rossin: <i>Timescrubbing</i> (forthcoming)
		br
		| Kiasma, Helsinki
	

	p 
		a(href='http://shop.foam.org/en/foam-magazine-foam-magazine-45-talent.html') Alexandra Hunts: <i>Substance of Space and Time</i>
		br
		i Foam Magazine #45
	
	p 
		a(href='https://www.printedmatter.org/catalog/45038/') [still searching for lost treasure]
		br
		| <i>Kisses Kisses</i> (author and editor)

	p 
		a(href='http://shop.foam.org/en/foam-magazine-foam-magazine-44-on-earth.html') The Nature of Capitalism: Mark Dorf's <i>Emergence</i> and the Capitalocene
		br
		i Foam Magazine #44

	p 
		a(href='http://classic.rhizome.org/editorial/2015/may/27/artist-profile-mark-dorf/') Artist Profile: Mark Dorf
		br
		i Rhizome

	p 
		a(href='https://newhive.com/kerry/-performing-the-text') what is a text? v1
		br
		i NewHive

	p 
		a(href='http://classic.rhizome.org/editorial/2015/mar/19/lynn-hershman-leeson-origins-species/') Cyborg Origins: Lynn Hershman Leeson at Bridget Donahue
		br
		i Rhizome

	p
		a(href='http://classic.rhizome.org/editorial/2015/mar/05/speaking-code/') Speaking in Code
		br
		i Rhizome


	p 
		a(href='http://classic.rhizome.org/editorial/2014/oct/08/lipstick-traces-digital-polish/') Nail Art: From lipstick traces to digital polish
		br
		i Rhizome

	p 
		a(href='http://rhizome.org/editorial/2014/jul/1/digital-handwork/') Digital Handwork
		br
		| Co-authored with Lizzie Homersham 
		br
		i Rhizome

	p 
		a(href='/2013_doran.pdf') The Post-Internet Condition: A political reevaluation of new media art through the post media perspective
		br
		span.small
			i Do not cite without written permission.

	p 	
		a(href='http://scholar.colorado.edu/honr_theses/279/') Performative identity in networked spaces
		br
		span.small
			i Do not cite without written permission.
