extends index

block content
	i David Diao (forthcoming)
	| Ullens Center for Contemporary Art Beijing
	a(href='http://ucca.org.cn/en/exhibition/david-diao-2/') 
	br

	span “There’s no business like Art business” (forthcoming)
	| The Stolbun Collection
	a(href='http://stolbun.org/carmona-uv-chicago.html')
	br

	span “Rachel Rossin: Timescrubbing” (forthcoming)
	| Kiasma
	a(href='http://www.kiasma.fi/en/exhibitions-events/ars-17/ars17-artists/') 

	span "Alexandra Hunts: Substance of Space and Time”
	i Foam Magazine #45
	a(href='http://shop.foam.org/en/foam-magazine-foam-magazine-45-talent.html')
	
	span "[still searching for lost treasure"
	i Kisses Kisses (author and editor)
	a(href='https://www.printedmatter.org/catalog/45038/')

	span "The Nature of Capitalism: Mark Dorf's 'Emergence' and the Capitalocene"
	i Foam Magazine #44
	a(href='http://shop.foam.org/en/foam-magazine-foam-magazine-44-on-earth.html')

	span "Artist Profile: Mark Dorf"
	i Rhizome
	a(href='http://classic.rhizome.org/editorial/2015/may/27/artist-profile-mark-dorf/')

	span "what is a text? v1"
	| NewHive
	a(href='https://newhive.com/kerry/-performing-the-text')

	span "Cyborg Origins: Lynn Hershman Leeson at Bridget Donahue"
	i Rhizome
	a(href='http://classic.rhizome.org/editorial/2015/mar/19/lynn-hershman-leeson-origins-species/')


	| Speaking in Code
	| Rhizome
	a(href='http://classic.rhizome.org/editorial/2015/mar/05/speaking-code/')


	span "Nail Art: From lipstick traces to digital polish
	i Rhizome
	a(href='http://classic.rhizome.org/editorial/2014/oct/08/lipstick-traces-digital-polish/')

	span "Digital Handwork,"" co-authored with Lizzie Homersham
	i Rhizome
	a(href='http://rhizome.org/editorial/2014/jul/1/digital-handwork/')


	span "The Post-Internet Condition: A political reevaluation of new media art through the post media perspective"
	i Do not cite without written permission.