@font-face {
  font-family: 'Version';
  src: url('/fonts/version/Version\ WebFont\ Kit/version-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/version/Version\ WebFont\ Kit/version-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/version/Version\ WebFont\ Kit/version-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/version/Version\ WebFont\ Kit/version-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/version/Version\ WebFont\ Kit/version-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/version/Version\ WebFont\ Kit/version-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Free-Edit';
  src: url('/fonts/free-edit/Free\ Edit\ WebFont\ Kit/freeedit-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/free-edit/Free\ Edit\ WebFont\ Kit/freeedit-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/free-edit/Free\ Edit\ WebFont\ Kit/freeedit-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/free-edit/Free\ Edit\ WebFont\ Kit/freeedit-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/free-edit/Free\ Edit\ WebFont\ Kit/freeedit-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/free-edit/Free\ Edit\ WebFont\ Kit/freeedit-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}


body {
  font-family: 'Free-Edit', Fallback, sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.content {
	overflow: scroll;
	width: 100%;
}

li {
	list-style: none;
	padding-bottom: 8px;
}

a {
	text-decoration: none;
	animation: wavy 2s linear infinite;
	animation-play-state: paused;

	padding-bottom: 9px;
	background-position: 0 100%;
	background-size: 230px;
	background-repeat: repeat-x;
}

a:hover {
	color: red;
	background-image: url("http://uploads.webflow.com/56d8a8f1100bc1bb7928eebd/5831d10096c13a1f491ac02d_wavy-k.png");
	animation-play-state: running;
}

a:visited {
	color: purple;
}

.signature {
	width: 150px;
}


@keyframes wavy {
  to {
    background-position: 100% 100%;
  }
}

/* Landscape phones and down */
/*@media (max-width: 480px) {*/

/*}*/

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.container {
		font-size: 1.5em;
	}

	.nav {
		width: 100%;
		position: absolute;
		bottom: 0;
		background-color: black;
		color: white;
		height: 20%;
	}

	.content {
		height: 80%;
		overflow: scroll;
	}

	ul li{
		display: inline;
		z-index: 1;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) {
/*@media (min-width: 768px) and (max-width: 979px) {*/
	.nav {
		height: 100%;
		position: absolute;
		width: 250px;
	}

	ul {
		position: absolute;
	    bottom: 0;
	    z-index: 1;
	}

	.content {
		position: absolute;
		height: 75%;
		max-width: 1000px;
	    top: 25%;
		padding-left: 250px;

	}
/*}*/

/* Large desktop */
/*@media (min-width: 1200px) {*/

}
